{% extends "layout.html" %}

{% block content %}

    <div class="">


        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">OFAC Checker Tool </h1>



                <hr/>
                <p>We use the most updated OFAC list to check werther an insured or institution complies with OFAC
                    guidelines </p>


            </div>
        </div>

        <div class="row align-items-md-stretch">

            <div class="col-md-4">
                <div class="h-100 p-5 text-white bg-primary rounded-3">
                    <h2>Check Multiple</h2>
                    <p>Import a template containing all the names you want to check and get an Excel file with the
                        results </p>

                    <a href="{{ url_for("check_multiple") }}" class="btn btn-outline-light" type="button">Start!</a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Check Single </h2>
                    <p>Type in the name of the person or institution you want to search and get the result on right
                        away!</p>
                    <a href="https://sanctionssearch.ofac.treas.gov/" class="btn btn-outline-secondary" type="button">Start!</a>
                </div>
            </div>

            <div class="col-md-4  ">
                <div class="h-100 border rounded">
                    <div class="p-5">
                        <a href="https://sanctionssearch.ofac.treas.gov/">
                            <img class="img-fluid p-5" src="../static/img/ofac%20logo.png"/>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
